
header {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);}

.webstudio{ 
  
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  letter-spacing: 0.03em;}

.linkcontact {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-align: left;
}

 
body{
font-family: "Roboto", sans-serif;
font-size: 44px;
  font-weight: 900; 
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);}
.web {
  color: rgba(33, 150, 243, 1);
}
.tel{ color: rgba(117, 117, 117, 1);}

h1{
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: rgba(255, 255, 255, 1);}

h2{ 
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;}
h3{
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;}
  
p {
  color: rgba(117, 117, 117, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  text-align: left;
}
.title-background{ background-color: rgba(47, 48, 58, 1);}

.buttons{background-color: var(brand-color-gray);
  cursor: pointer;
 font-style: normal;
font-weight: 500;
font-size:  16px;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;
}

.contactlink :hover { color:rgba(33, 150, 243, 1);}


.address-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}



.background-footer{
    background-color: rgba(47, 48, 58, 1);}

