.article{
    margin: 215px;
}
h1{ font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgba(255, 255, 255, 1);}
 h2{ font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-align: center;}
h3{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: left;
    }

    .title-background{ background: rgba(47, 48, 58, 1);}

.order-bttn{
    font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.8;
        letter-spacing: 0.06em;
        text-align: center;
}

.web {
  color: rgba(33, 150, 243, 1);

}
.main-name {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 1.4;
  font-weight: 700;

}
.contactlink :hover { color:rgba(33, 150, 243, 1)



}
.site {
color: rgba(0, 0, 0, 1);
font-family: "Roboto", sans-serif;

}
nav{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
}
.btn:hover{ color: rgba(255, 255, 255, 0.8);
  text-align: center;
  cursor: pointer;
}
.highlighted-btn {
    background-color:rgba(33, 150, 243, 1) ;
}
head {
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}
.title{
    color: rgba(33, 33, 33, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    }
p{
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    font-size:  16px; 
    line-height: 1.8;
    font-family: Roboto;
       
}

.address-footer{
    font-family: "Roboto", sans-serif;
    color:rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    height: 21px;
       width: 231px;
        left: 215px;
        top: 1799px;
        border-radius: nullpx;
}



.background-footer{
    background-color: rgba(47, 48, 58, 1);
height: 252px;
    width: 1600px;
    left: 0px;
    top: 1628px;
    border-radius: 0px;
    
}
.site-last{ color: rgba(255, 255, 255, 1);}
